*x86_64
Graphics/CanvasDrawtest
Graphics/EaseExperiment/EaseExperiment
Graphics/DouglasRamerPeucker/project1
Graphics/CountColorstest/CountColors
Graphics/2DAffineMatrix/Affine2DMatrixDemo
*.lps
3D/Basic/backup
Basics/Logger/backup
Basics/Logger/bin
Basics/ResourceManager/backup
Basics/SnapForm/backup
Basics/SnapForm/bin
Basics/SynMemo/lib
Graphics/Bozoon/bin
Graphics/CurvesTest/backup
Graphics/CurvesTest/bin
Graphics/ExtendWithHelper/NeuralResize/backup
Graphics/NoiseGen/backup
Graphics/NoiseGen/lib
Graphics/RenderHelpers/backup
Graphics/SimpleVoxel/backup
Graphics/SimpleVoxel/lib
Graphics/SimplyGifViewer/backup
Graphics/SimplyGifViewer/lib
Graphics/SplineTest/backup
Graphics/TestColorMatrix/bin
Graphics/TestFilterConvolution/backup
Graphics/TestFilterDetectContour/backup
Sounds/Bass/AudioPlayer/backup
Sounds/Bass/AudioPlayer/lib
Sounds/Bass/AudioPlayer/bass.dll
Sounds/Bass/AudioPlayer/BassAudioPlayer.exe
Sounds/Bass/AudioPlayer/dsound.dll
Sounds/Bass/AudioPlayer/dsound.ini
Sounds/Bass/AudioPlayer/libmodplug-1.dll
Sounds/Bass/AudioPlayer/libmpg123-0.dll
Sounds/Bass/AudioPlayer/libogg-0.dll
Sounds/Bass/AudioPlayer/libvorbis-0.dll
Sounds/Bass/AudioPlayer/libvorbisfile-3.dll
Graphics/SplineTest/bin
Graphics/RenderHelpers/lib
Graphics/RenderHelpers/bin
Graphics/SimplyGifViewer/SimplyGifViewer.exe
Graphics/ExtendWithHelper/NeuralResize/bin
Graphics/TestFilterDetectContour/FilterDetectContour-Default-x86_64.log
Graphics/TestFilterDetectContour/FilterDetectContour-Default-x86_64.exe
Graphics/TestFilterConvolution/TestFilterConvolution-Default-x86_64.log
Graphics/TestFilterConvolution/TestFilterConvolution-Default-x86_64.exe
